.navbar {
    padding : 0;
}

.header {
    background-color: #4276f0;
    margin: 0;
    font-family: 'Yomogi';
    font-weight: bold;
    padding: 3px;
    justify-content: space-around;
}

.sub-header{
    cursor: pointer;
}

.imagem {
    width: 100%;
    height: 350px;
}

.preco {
    font-family: 'Caprasimo';
    color: #4276f0;
}

.categoria {
    font-family: 'Caprasimo';
    margin: 20px 0;
}


.remover-margem {
    margin-right: 0;
    margin-left: 0;
}

.botao {
    color: white;
    background-color: #F97111;
    font-family: 'Caprasimo';
    border: none;
    padding-left: 30px;
    padding-right: 30px;
}

.titulo {
    font-family: 'Caprasimo';
}

.alinhar-vertical {
    align-items: center;
}

.quantidade {
    font-family: 'Caprasimo';
    color: #F97111;
    margin-bottom: 0;
    margin: 0 5px;
}

.botao-quantidade {
    color: white;
    background-color: #F97111;
    font-family: 'Caprasimo';
    border: none;
    margin: auto;
    width: 50px;
}