<nav class="navbar bg-body-tertiary">
    <div class="container-fluid header">
        @for (categoria of categorias; track categoria.categoria) {
            <span class="sub-header" (click)="redireciona(categoria.categoria)">{{categoria.categoria}}</span>
        }
    </div>
</nav>

<div>
    @for (categoria of categorias; track categoria.categoria) {
      <app-topico [topico]="categoria.categoria"></app-topico>
        <div class="row row-cols-1 row-cols-lg-5 row-cols-md-3 g-4 d-flex justify-content-center remover-margem">
            @for (produto of categoria.produtos; track produto.id) {
                <div class="col d-flex justify-content-center">
                    <div class="card" style="width: 18rem;">
                        <img [src]="produto.src" class="card-img-top imagem" alt="...">
                        <div class="card-body">
                            <h5 class="card-title titulo"> {{ produto.title }} </h5>
                            <h4 class="card-title preco"> R$ {{ produto.preco | number:'1.2-2' }} </h4>
                            <a type="button" class="btn btn-primary botao" data-bs-toggle="modal" data-bs-target="#detailCard" (click)="alterarModal(produto)">ver produto</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="detailCard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailCardLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="card" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4" style="width: 100%;">
                <img [src]="produtoSelecionado.src" class="img-fluid rounded-start" alt="...">
                <div class="card-img-overlay">
                  <div class="d-flex justify-content-end">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cancelarOperacao(produtoSelecionado)"></button>
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title titulo">{{ produtoSelecionado.title }}</h5>
                  <p class="card-text">{{ produtoSelecionado.desc }}</p>
                  <h5 class="card-text preco">R$ {{ produtoSelecionado.preco | number:'1.2-2' }}</h5>
                </div>
              </div>
            </div>
          </div>
        <div class="modal-footer">
          <div class="d-flex alinhar-vertical">
            <button [disabled]="produtoSelecionado.quantidade === 0" class="btn btn-primary botao-quantidade" (click)="diminuirQuantidade( produtoSelecionado )">-</button>
            <h5 class="card-title quantidade" style="margin-bottom: 0;"> x{{ produtoSelecionado.quantidade }} </h5>
            <button class="btn btn-primary botao-quantidade" (click)="aumentarQuantidade( produtoSelecionado )">+</button>
          </div>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="adicionarCarrinho(produtoSelecionado)">Adicionar</button>
        </div>
      </div>
    </div>
  </div>