<nav class="navbar bg-body-tertiary ">
  <div class="container-fluid header">
    <div></div>
    <a class="navbar-brand" style="font-family: 'caprasimo';" href="#">
      LOGO AQUI
      <!-- <img src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-cart-shopping" style="color: #181718;"></i>
    </button>
  </div>
</nav>