<nav class="navbar bg-body-tertiary ">
  <div class="container-fluid header">
    <div class="espacamento-invisivel"></div>
    <a class="navbar-brand" style="font-family: 'caprasimo';" routerLink="/">
      <img width="150" height="30" src="assets/logotipo.png" alt="Logo" class="d-inline-block align-text-top" style="object-fit: cover;">
    </a>
    <button routerLink="/carrinho" class="navbar-brand icone" type="button">
      <i class="fa-solid fa-cart-shopping" style="color: #181718;"></i>
    </button>
  </div>
</nav>